body {
  margin: 0;
  padding: 0;
}


/* underline=none and sx={{textDecoration: 'none'}} are not working  in <Link> elements*/
a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}